<!DOCTYPE html>
<html>

<%= render "layouts/head" %>
<body>

<%= render "layouts/navbar" %>
<div id="wrapper" ontouchstart="touchStart(event,'swipeBox');"
     ontouchend="touchEnd(event);" ontouchmove="touchMove(event);" ontouchcancel="touchCancel(event);">
  <%= render "layouts/sidebar" %>
  <!-- Page Content -->
  <br>
  <div id="page-content-wrapper" class="no-padding-top">
    <div class="container-fluid text-black">
      <div class="row" style="padding-bottom:2%">
        <div class="col-md-4 col-xs-12" style="padding-bottom:2%">
          <img class="img-circle img-responsive img-thumbnail" src="<%= @person.image %>" style="max-height:250px;display: block;margin-left: auto;margin-right: auto">

          <%= form_for :person, :url => url_for(:controller => 'persons', :action => 'parse_update'), html: { multipart: true } do |f| %>
              <%= if @person.id == @current_person.id
                    f.file_field(:image,class:'center-block')
                  end %>
              </div>
              <div class="col-md-8 col-xs-12">
                <table class="table table-hover">
                  <tr>
                    <td><span style="font-size:larger"><%= f.label(:first_name, "Primeiro Nome: ") %></span></td><td>
                    <%= if @person.id != @current_person.id
                          f.text_field(:first_name,:value => @person.first_name, class:'form-control', disabled:true)
                        else
                          f.text_field(:first_name,:value => @person.first_name, class:'form-control')
                        end
                    %>
                  </td>
                  </tr>
                  <tr>
                    <td><span style="font-size:larger"><%= f.label(:last_name, "Último Nome: ") %></span></td><td>

                    <%= if @person.id != @current_person.id
                          f.text_field(:last_name,:value => @person.last_name, class:'form-control', disabled:true)
                        else
                          f.text_field(:last_name,:value => @person.last_name, class:'form-control')
                        end
                    %>

                  </td>
                  </tr>
                  <tr>
                    <td><span style="font-size:larger"><%= f.label(:birthday, "Data de Nascimento: ") %></span></td><td>

                    <%= if @person.id != @current_person.id
                          f.text_field(:birthday,:value => @person.birthday, class:'form-control', disabled:true,type:'date')
                        else
                          f.text_field(:birthday,:value => @person.birthday, class:'form-control',type:'date')
                        end
                    %>

                  </td>
                  </tr>
                  <tr>
                    <td><span style="font-size:larger"><%= f.label(:email, "Email: ") %></span></td><td>

                    <%= if @person.id != @current_person.id
                          f.text_field(:email,:value => @person.email, class:'form-control', disabled:true,type:'email')
                        else
                          f.text_field(:email,:value => @person.email, class:'form-control',type:'email')
                        end
                    %>

                  </td>
                  </tr>
                  <tr>
                    <td><span style="font-size:larger"><b>Membro desde:</b> </span></td><td><%= @person.created_at.to_date.to_s %></td>
                  </tr>
                </table>
                <% if @person.id == @current_person.id %><%= f.submit("Atualizar",class:'btn btn-success pull-right') %><% end %>
          <% end %>
          </div>
          </div>
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <h3>Eventos Criados</h3>
          <select class="list-group btn" size="5" style="width:100%;background:#930101;color:white" onchange="location = this.options[this.selectedIndex].value;">
            <% @person.events.each do |l| %>
                <% if @person.id == l.creator %>
                    <% string = "<option value='/events/" << l.id.to_s << "' style='border-bottom:solid 1px brown'>" << l.to_s << "</option>" %>
                    <%= string.html_safe %>
                <% end %>
            <% end %>
          </select>
        </div>
        <div class="col-md-6 col-xs-12">
          <h3>Histórico</h3>
          <select class="list-group btn" size="5" style="width:100%;background:#930101;color:white" onchange="location = this.options[this.selectedIndex].value;">
            <% EventsPeople.where(person_id: @person.id).each do |l| %>
                <% Event.where(id: l.event_id).each do |e| %>
                    <% string = "<option value='/events/" << e.id.to_s << "' style='border-bottom:solid 1px brown'>" << e.to_s << "</option>" %>
                    <%= string.html_safe %>
                <% end %>
            <% end %>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /#page-content-wrapper -->
</body>
</html>


<!--
<h1>Person</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Password</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<tr>

  <td><%= @person.full_name %></td>
  <td><%= @person.email %></td>
  <td><%= @person.password_digest %></td>

</tr>
</tbody>
</table>
-->