@font-face {
	font-family: "Flaticon";
	src: url("sports.eot");
	src: url("sports.eot#iefix") format("embedded-opentype"),
	url("sports.woff") format("woff"),
	url("sports.ttf") format("truetype"),
	url("sports.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-artistic5:before {
	content: "\e000";
}
.flaticon-ball6:before {
	content: "\e001";
}
.flaticon-barbell:before {
	content: "\e002";
}
.flaticon-baseball3:before {
	content: "\e003";
}
.flaticon-basketball3:before {
	content: "\e004";
}
.flaticon-basketball35:before {
	content: "\e005";
}
.flaticon-bat:before {
	content: "\e006";
}
.flaticon-bicycle14:before {
	content: "\e007";
}
.flaticon-canoeing1:before {
	content: "\e008";
}
.flaticon-climbing5:before {
	content: "\e009";
}
.flaticon-competition:before {
	content: "\e00a";
}
.flaticon-dart13:before {
	content: "\e00b";
}
.flaticon-diving:before {
	content: "\e00c";
}
.flaticon-excercising:before {
	content: "\e00d";
}
.flaticon-female139:before {
	content: "\e00e";
}
.flaticon-first33:before {
	content: "\e00f";
}
.flaticon-fisher1:before {
	content: "\e010";
}
.flaticon-football102:before {
	content: "\e011";
}
.flaticon-football118:before {
	content: "\e012";
}
.flaticon-football28:before {
	content: "\e013";
}
.flaticon-girl2:before {
	content: "\e014";
}
.flaticon-golf17:before {
	content: "\e015";
}
.flaticon-golf22:before {
	content: "\e016";
}
.flaticon-golf9:before {
	content: "\e017";
}
.flaticon-group9:before {
	content: "\e018";
}
.flaticon-hockey2:before {
	content: "\e019";
}
.flaticon-hunter:before {
	content: "\e01a";
}
.flaticon-ice79:before {
	content: "\e01b";
}
.flaticon-karate:before {
	content: "\e01c";
}
.flaticon-kitesurfing:before {
	content: "\e01d";
}
.flaticon-man27:before {
	content: "\e01e";
}
.flaticon-man36:before {
	content: "\e01f";
}
.flaticon-man362:before {
	content: "\e020";
}
.flaticon-man429:before {
	content: "\e021";
}
.flaticon-man459:before {
	content: "\e022";
}
.flaticon-martial2:before {
	content: "\e023";
}
.flaticon-mountain24:before {
	content: "\e024";
}
.flaticon-padding:before {
	content: "\e025";
}
.flaticon-person17:before {
	content: "\e026";
}
.flaticon-person209:before {
	content: "\e027";
}
.flaticon-person228:before {
	content: "\e028";
}
.flaticon-person242:before {
	content: "\e029";
}
.flaticon-person244:before {
	content: "\e02a";
}
.flaticon-ping3:before {
	content: "\e02b";
}
.flaticon-recognition6:before {
	content: "\e02c";
}
.flaticon-regular2:before {
	content: "\e02d";
}
.flaticon-riding:before {
	content: "\e02e";
}
.flaticon-rugby98:before {
	content: "\e02f";
}
.flaticon-runer:before {
	content: "\e030";
}
.flaticon-runner5:before {
	content: "\e031";
}
.flaticon-running:before {
	content: "\e032";
}
.flaticon-running30:before {
	content: "\e033";
}
.flaticon-running31:before {
	content: "\e034";
}
.flaticon-silhouette1:before {
	content: "\e035";
}
.flaticon-silhouette4:before {
	content: "\e036";
}
.flaticon-skateboard3:before {
	content: "\e037";
}
.flaticon-skating:before {
	content: "\e038";
}
.flaticon-soccer19:before {
	content: "\e039";
}
.flaticon-soccer38:before {
	content: "\e03a";
}
.flaticon-soccer43:before {
	content: "\e03b";
}
.flaticon-soccer44:before {
	content: "\e03c";
}
.flaticon-sportive2:before {
	content: "\e03d";
}
.flaticon-sports5:before {
	content: "\e03e";
}
.flaticon-surfer:before {
	content: "\e03f";
}
.flaticon-swim1:before {
	content: "\e040";
}
.flaticon-swimmer9:before {
	content: "\e041";
}
.flaticon-swimming20:before {
	content: "\e042";
}
.flaticon-swimming22:before {
	content: "\e043";
}
.flaticon-tai1:before {
	content: "\e044";
}
.flaticon-tennis18:before {
	content: "\e045";
}
.flaticon-time13:before {
	content: "\e046";
}
.flaticon-trekking:before {
	content: "\e047";
}
.flaticon-trekking1:before {
	content: "\e048";
}
.flaticon-triathlon1:before {
	content: "\e049";
}
.flaticon-trophy42:before {
	content: "\e04a";
}
.flaticon-trophy45:before {
	content: "\e04b";
}
.flaticon-volleyball3:before {
	content: "\e04c";
}
.flaticon-volleyball4:before {
	content: "\e04d";
}
.flaticon-walking17:before {
	content: "\e04e";
}
.flaticon-weightlift:before {
	content: "\e04f";
}
.flaticon-windsurf1:before {
	content: "\e050";
}
.flaticon-yoga12:before {
	content: "\e051";
}
.flaticon-yoga13:before {
	content: "\e052";
}
.flaticon-young:before {
	content: "\e053";
}
