<div class="notification-item" onclick="location.href='<%= url_for :controller => 'events', :action => 'show', :id => activity.parameters[:event_id] %>';">

    <div class="centraVertical2">
        <img src="<%= Person.find(activity.owner).image %>" class="img img-responsive img-circle img-notification"/>
    </div>

    <span>
       <h4 class="item-title text-muted"><%= time_ago_in_words activity.created_at %></h4>
    <p class="item-info">
        <strong>
            <a href="<%= url_for :controller => 'persons', :action => 'show', :id => activity.owner_id %>">
                <%= Person.find(activity.owner_id) %>
            </a>
        </strong>
        vai participar no evento
        <strong>
            <a href="<%= url_for :controller => 'events', :action => 'show', :id => activity.parameters[:event_id] %>">
                <%= Event.find(activity.parameters[:event_id]) %>
            </a>
        </strong>
    </p>
    </span>
</div>


