.searchBar-wrapper {
    z-index: 1000;
    position: fixed;
    width: 0px;
    height: 90%;
    right: 0;
    background: #000;
    color: grey;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: auto;
    overflow-x: hidden;
}

.text-left
{
    text-align: left;
}


.nounderline{
    text-decoration: none !important; 
}