@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";

/* typicons */
[class*="typicons-"]:before {
  font-family: 'Typicons', sans-serif;
}

$cor-de-fundo: #000;
$cor-barra: #930101;
$cor-barra-clara: #933232;
$cor-fim-barra: #C5C5C5;
$cor-texto: #FFFFFF;
$cor-bolas: #CC0000;
$cor-texto-preto: #000000;
$cor-verde: #4BA700;

html { height: 100%; }
body { min-height: 100%; }

.logo{
    max-width: 80px;
}

.userImage{
  margin-top: 10px;
  margin-right: 12px;
}
.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.no-padding-left
{
    padding-left: 0px;
}

.no-padding-right
{
    padding-right: 0px;
}
.no-padding-top {
  padding-top: 0 !important;
}

.searchIcons i{
  font-size: 36px !important;
  margin-top: 20px;
  color: $cor-barra;
  text-shadow: 1px 1px black;
}

.searchIcons i:hover{
  color: $cor-barra-clara;
}

.searchIcons span {
  display: block;
}

#body-homepage
{
    background:url('../img/baseball_ball.jpg') no-repeat;
}

body {
    color: $cor-de-fundo;
    padding-top: 50px;
    height: 100%;
}

nav {
    li { color: $cor-de-fundo; }
    a { color: $cor-texto; }
}
.navbar-bordeaux {
    background-color: $cor-barra;
}
.text {
    color: $cor-texto;
}

.text-black {
    color: $cor-texto-preto;
}

.vertical-center {
  //min-height: 100%;   Fallback for browsers do NOT support vh unit 
  //min-height: 100vh;  These two lines are counted as one :-)       
  display: flex;
  align-items: center;
}

.margin-left-2 {
    margin-left: 2px;
}

.without-underline:hover, .without-underline:active, .without-underline:visited{
    text-decoration: none;
    background-color: $cor-barra-clara;
}

.container {
    padding: 0px;
}

.align-horizontal-center {
    text-align:center;
}
div.bola-nova {
    color: $cor-texto;
    background-color: $cor-bolas;
    border-radius: 50vw;
    padding-top: 50%;
    padding-bottom: 50%;
    height: 0px;
}
.text-bola {
    margin: 0px;
    position: relative;
    top: -10px;
}

span.icone-barra-lateral, span.icone-barra-lateral:before, span.icone-barra-lateral:after{
    margin-right: 6px;
    font-size: 20px;
}

div.div-nav {
    display: inline-block;
}


.image{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}
.image img{
    position:absolute;
}
.thumbnail {
    padding: 0px;
    border: 0px;
    margin: 0px;
    margin-bottom: 1vw;
    border-radius: 50vw;
}
.circle {
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}
#bar-with-map-and-sports {
    margin-bottom: 30px;
    border-bottom: 1px solid;
}

#sport-symbol .image i{
    position:absolute;
    font-size: 32px;
    margin-left: 13px;
    margin-top: 7px;
}

#watch .image i{
  position:absolute;
  font-size: 29px;
}

.selected {
  background-color: #ffff00;
}

.selected span {
  font-weight: bold;
}

.border-medium {
    border-style: solid;
    border-width: medium;
}

.eventLowSpace {
  height: 270px;
}

#watch {
    margin: 0 auto;
    width: 26px;
    position: relative;
    top: 13px;
}
#btn-vou {
    margin-top: 5px;
    width:100%;
}
#sport-symbol {
    margin: 0 auto;
    width: 60px;
    position: relative;
    top: -30px;
    border: 1px solid #000000;
}
.btn-green {
    background-color: $cor-verde;
    color:  $cor-texto;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 0px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    padding: 0px 15px;
    height: calc(100% - 50px);
    position:absolute;
    left:0;
    right:0;
    
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    padding-left: 10px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav .sidebar-seta {
    font-size: 20px;
    margin-right: 5%;
    margin-top: 10px;
}

.sidebar-nav li:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li:hover a{
    color: #fff !important;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
    background-color: #101010;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;

} 

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

