.nounderline{
    text-decoration: none !important; 
}

 .toCenter{
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.main-content
{
    position: fixed;
    height: 100%;
    width: 100%;
    
}


.leftArrow-div
{
   height: 100%;
   
}
.rightArrow-div
{
    height: 100%;
    text-align: right;
}

.centraVertical
{ 
  position: relative;
  top: 50%;
  transform: translateY(-50%);

}


.no-margin
{
    margin: 0;
}

.dataDiv
{
    height: 50%;
    width: 100%;
}

.horaDiv
{
    height: 50%;
    width: 100%;
}


/* COde from: */

#body-criar-evento
{
    background:url('../img/baseball_ball.jpg') no-repeat;
}

 #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      .controls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        padding: 0 11px 0 13px;
        width: 400px;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        text-overflow: ellipsis;
      }

      #pac-input:focus {
        border-color: #4d90fe;
        margin-left: -1px;
        padding-left: 14px;  /* Regular padding-left + 1. */
        width: 401px;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      .NEONbluetxt {
        color: #000;
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #00DEFF, 0 0 70px #00DEFF, 0 0 80px #00DEFF, 0 0 100px #00DEFF, 0 0 150px #00DEFF;
        }

        .FLOATtxt {
color: #f8f8ff;
text-shadow: 0 3px 0 #b2a98f,0 14px 10px rgba(0,0,0,0.15), 0 24px 2px rgba(0,0,0,0.1), 0 34px 30px rgba(0,0,0,0.1);
}

.INSETtxt {
color: #3c3c3c;
text-shadow: 0 -2px 3px #111,0 3px 4px #666;
}

