@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";


$fundo: #930101;
$cor-texto: #FFFFFF;
$cor-bolas: #CC0000;
$amarelo: #f5ee30;
$verde: #01DF01;


html { height: vh; 
        width: vw;
        overflow: auto;
        }

body {
  
  background-color: $fundo;

}

#toCenter{
  margin-top: 10vh;
  margin-bottom: 10vh;
}

#buttons{
  margin-top: 50px;
}

.btn-yellow {
background: $amarelo;	
}

.btn-green-custom {
	background: $verde;
}

.btn {
  border: none;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border-radius: 4px;
  padding: 10px 15px;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  width: 100%;
}

.btn:hover, .btn:focus {
  outline: none;
  color: #ffffff;
}

#body-homepage
{
  background:url('../img/baseball_ball.jpg') no-repeat;
}

/* Log in Panel */
.panel-heading{
  background-color: $amarelo !important;
}

.panel{
  border: 0px solid;
  -webkit-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  transition: all 1.5s ease;
}

.input-group{
  margin-bottom: 5px;
}

.input-group-addon {
  color: darkgray;
  text-align: center;
  background-color: #bdc3c7;
  border: 2px solid #bdc3c7;
  border-radius: 6px;
}

.no-padding-left{
  margin-top: 16px;
}

.full-width{
  width: 100%;
}

#login, #forgot_password{
  margin-bottom: 20px;
}