/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/* typicons */
[class*="typicons-"]:before {
    font-family: 'Typicons', sans-serif;
}

$cor-de-fundo: #000;
$cor-barra: #930101;
$cor-barra-clara: #933232;
$cor-fim-barra: #C5C5C5;
$cor-texto: #FFFFFF;
$cor-bolas: #CC0000;
$cor-texto-preto: #000000;
$cor-verde: #4BA700;

html { height: 100%; }
body { min-height: 100%; }

.logo{
    max-width: 80px;
}

.userImage{
    margin-top: 10px;
    margin-right: 12px;
    width: 36px;
}
.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.no-padding-left
{
    padding-left: 0px;
}

.no-padding-right
{
    padding-right: 0px;
}
.no-padding-top {
    padding-top: 0 !important;
}

.searchIcons i{
    font-size: 36px !important;
    margin-top: 20px;
    color: $cor-barra;
    text-shadow: 1px 1px black;
}

.searchIcons i:hover{
    color: $cor-barra-clara;
}

.searchIcons span {
    display: block;
}

#body-homepage
{
    background:url('../img/baseball_ball.jpg') no-repeat;
}

body {
    color: $cor-de-fundo;
    padding-top: 50px;
    height: 100%;
}

nav {
li { color: $cor-de-fundo; }
a { color: $cor-texto; }
}

.navbar-bordeaux {
    background-color: $cor-barra;
}
.text {
    color: $cor-texto;
}

.text-black {
    color: $cor-texto-preto;
}

.vertical-center {
display: flex;
    align-items: center;
}

.margin-left-2 {
    margin-left: 2px;
}

.without-underline:hover, .without-underline:active, .without-underline:visited{
    text-decoration: none;
    background-color: $cor-barra-clara !important;
    color: $cor-texto;
}

.dropdown {
  margin-right: 10px;
}

.dropdown-menu{
  background-color: $cor-barra-clara ;
}

.container {
    padding: 0px;
}

.align-horizontal-center {
    text-align:center;
}

span.icone-barra-lateral, span.icone-barra-lateral:before, span.icone-barra-lateral:after{
    margin-right: 6px;
    font-size: 20px;
}

div.div-nav {
    display: inline-block;
}


.image{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}
.image img{
    position:absolute;
}
.thumbnail {
    padding: 0px;
    border: 0px;
    margin: 0px;
    margin-bottom: 1vw;
    border-radius: 50vw;
}
.circle {
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}
#bar-with-map-and-sports {
    margin-bottom: 30px;
    border-bottom: 1px solid;
}

.selected {
    background-color: #ffff00;
}

.selected span {
    font-weight: bold;
}

.border-medium {
    border-style: solid;
    border-width: medium;
}

.eventLowSpace {
    height: 270px;
}

.btn-green {
    background-color: $cor-verde;
    color:  $cor-texto;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 0px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    padding: 0px 15px;
    //height: calc(100% - 50px);
    position:absolute;
    left:0;
    right:0;
    padding-bottom: 15px;

}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    padding-left: 10px !important;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav .sidebar-seta {
    font-size: 20px;
    margin-right: 5%;
    margin-top: 10px;
}

.sidebar-nav li:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li:hover a{
    color: #fff !important;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .row {
    min-height: 65px;
    line-height: 60px;
    background-color: #101010;
  padding-left: 10px !important;
}

.sidebar-nav  .sidebar-brand {
  font-size: 18px;
  background-color: #101010;
}

.sidebar-nav > .row a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .row a:hover {
    color: #fff;
    background: none;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

/* Notificacoes */
.dropdown {
  display:inline-block;
  margin-left:20px;
  padding:10px;
}


#dLabel{

   font-size:1.5rem;
 }

.dropdown:hover, .dropdown:focus{
  color: $cor-barra-clara;
  background-color: $cor-barra-clara;
}

#dLabel:hover{
  color: white !important;
  background-color: $cor-barra-clara !important;
}
#dLabel:focus{
  color: white !important;
  background-color: $cor-barra !important;
}

.notifications {
  min-width: 350px;
}

.notifications-wrapper {
  overflow:auto;
  max-height:250px;
}

.menu-title {
  color:#ff7788;
  font-size:1.5rem;
  display:inline-block;
}

.glyphicon-circle-arrow-right {
  margin-left:10px;
}


.notification-heading, .notification-footer  {
  padding:2px 10px;
}


.dropdown-menu.divider {
  margin:5px 0;
}

.item-title {

  font-size:1.3rem;
}

.notification-item {
  padding:10px;
  margin:5px;
  background: $cor-barra-clara;
  border-radius:4px;
  color: white;
}

.notification-item a:hover{
  color: white;
}

.notification-item a{
  color: white;
}

.notification-item:hover{
  cursor:pointer;
}

.notification-item img{
  width: 36px;
  float: left;
  margin-right: 10px;
  margin-top: 15px;
}

