// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#btn-vou {
  margin-top: 5px;
  width:100%;
}

#sport-symbol {
  margin: 0 auto;
  width: 60px;
  position: relative;
  top: -30px;
  border: 1px solid #000000;
}

h1 .inline {
  display: inline-block;
}

.prettySocial:hover{
  text-decoration: none;
}

#sport-symbol .image i{
  position:absolute;
  font-size: 32px;
  margin-left: 13px;
  margin-top: 7px;
}

#watch .image i{
  position:absolute;
  font-size: 29px;
}

#watch {
  margin: 0 auto;
  width: 26px;
  position: relative;
  top: 13px;
}

.nounderline{
  text-decoration: none !important;
}

.toCenter{
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.main-content
{
  position: fixed;
  height: 100%;
  width: 100%;

}


.leftArrow-div
{
  height: 100%;

}
.rightArrow-div
{
  height: 100%;
  text-align: right;
}

.centraVertical
{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


.no-margin
{
  margin: 0;
}

.dataDiv
{
  height: 50%;
  width: 100%;
}

.horaDiv
{
  height: 50%;
  width: 100%;
}


/* COde from: */

#body-criar-evento
{
  background:url('../img/baseball_ball.jpg') no-repeat;
}

#map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}
.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  padding: 0 11px 0 13px;
  width: 400px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}

#pac-input:focus {
  border-color: #4d90fe;
  margin-left: -1px;
  padding-left: 14px;  /* Regular padding-left + 1. */
  width: 401px;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

.NEONbluetxt {
  color: #000;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #00DEFF, 0 0 70px #00DEFF, 0 0 80px #00DEFF, 0 0 100px #00DEFF, 0 0 150px #00DEFF;
}

.FLOATtxt {
  color: #f8f8ff;
  text-shadow: 0 3px 0 #b2a98f,0 14px 10px rgba(0,0,0,0.15), 0 24px 2px rgba(0,0,0,0.1), 0 34px 30px rgba(0,0,0,0.1);
}

.INSETtxt {
  color: #3c3c3c;
  text-shadow: 0 -2px 3px #111,0 3px 4px #666;
}



.searchBar-wrapper {
  z-index: 1000;
  position: fixed;
  width: 0px;
  height: 90%;
  right: 0;
  background: #000;
  color: grey;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: auto;
  overflow-x: hidden;
}

.text-left
{
  text-align: left;
}


.nounderline{
  text-decoration: none !important;
}

.table-striped > tbody > tr:nth-child(odd) {
  background-color: #E0E0D1;
}

/* line 1, ../sass/barraPesquisar.scss */
.searchBar-wrapper {
  z-index: 1000;
  position: fixed;
  width: 0px;
  height: 90%;
  right: 0;
  background: #000;
  color: grey;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: auto;
  overflow-x: hidden;
}

/* line 18, ../sass/barraPesquisar.scss */
.text-left {
  text-align: left;
}

/* line 24, ../sass/barraPesquisar.scss */
.nounderline {
  text-decoration: none !important;
}

.botaoPesquisa {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-top: 0px solid #fcfcfc;
  border-bottom: 0px;
  background: #a1a1a1;
  background: -webkit-gradient(linear, left top, left bottom, from(#960303), to(#a1a1a1));
  background: -webkit-linear-gradient(top, #960303, #a1a1a1);
  background: -moz-linear-gradient(top, #960303, #a1a1a1);
  background: -ms-linear-gradient(top, #960303, #a1a1a1);
  background: -o-linear-gradient(top, #960303, #a1a1a1);
  padding: 6px 12px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  font-size: 14px;
  font-family: Georgia, serif;
  text-decoration: none;
  vertical-align: middle;
}
.botaoPesquisa:hover {
  border-top-color: #000000;
  background: #000000;
  color: #ccc;
}
.botaoPesquisa:active {
  border-top-color: #424242;
  background: #424242;
}