// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$cor-texto: #FFFFFF;
$cor-bolas: #CC0000;

div.bola-nova {
  color: $cor-texto;
  background-color: $cor-bolas;
  border-radius: 50vw;
  padding-top: 50%;
  padding-bottom: 50%;
  height: 0px;
}
.text-bola {
  margin: 0px;
  position: relative;
  top: -10px;
}

.searchBar-wrapper {
  z-index: 1000;
  position: fixed;
  width: 0px;
  height: 90%;
  right: 0;
  background: #000;
  color: grey;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: auto;
  overflow-x: hidden;
}

.text-left
{
  text-align: left;
}


.nounderline{
  text-decoration: none !important;
}