/* line 1, ../sass/barraPesquisar.scss */
.searchBar-wrapper {
    z-index: 1000;
    position: fixed;
    width: 0px;
    height: 90%;
    right: 0;
    background: #000;
    color: grey;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: auto;
    overflow-x: hidden;
}

/* line 18, ../sass/barraPesquisar.scss */
.text-left {
    text-align: left;
}

/* line 24, ../sass/barraPesquisar.scss */
.nounderline {
    text-decoration: none !important;
}

.botaoPesquisa {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-top: 0px solid #fcfcfc;
    border-bottom: 0px;
    background: #a1a1a1;
    background: -webkit-gradient(linear, left top, left bottom, from(#960303), to(#a1a1a1));
    background: -webkit-linear-gradient(top, #960303, #a1a1a1);
    background: -moz-linear-gradient(top, #960303, #a1a1a1);
    background: -ms-linear-gradient(top, #960303, #a1a1a1);
    background: -o-linear-gradient(top, #960303, #a1a1a1);

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 14px;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
}
.botaoPesquisa:hover {
    border-top-color: #000000;
    background: #000000;
    color: #ccc;
}
.botaoPesquisa:active {
    border-top-color: #424242;
    background: #424242;
}