@font-face {
	font-family: "sports";
	src: url("../fonts/sports/sports.eot");
	src: url("../fonts/sports/sports.eot#iefix") format("embedded-opentype"),
	url("../fonts/sports/sports.woff") format("woff"),
	url("../fonts/sports/sports.ttf") format("truetype"),
	url("../fonts/sports/sports.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="sports-"]:before, [class*=" sports-"]:before,
[class^="sports-"]:after, [class*=" sports-"]:after {   
	font-family: sports;
    font-style: normal;
}.sports-artistic5:before {
	content: "\e000";
}
.sports-ball6:before {
	content: "\e001";
}
.sports-barbell:before {
	content: "\e002";
}
.sports-baseball3:before {
	content: "\e003";
}
.sports-basketball3:before {
	content: "\e004";
}
.sports-basketball35:before {
	content: "\e005";
}
.sports-bat:before {
	content: "\e006";
}
.sports-bicycle14:before {
	content: "\e007";
}
.sports-canoeing1:before {
	content: "\e008";
}
.sports-climbing5:before {
	content: "\e009";
}
.sports-competition:before {
	content: "\e00a";
}
.sports-dart13:before {
	content: "\e00b";
}
.sports-diving:before {
	content: "\e00c";
}
.sports-excercising:before {
	content: "\e00d";
}
.sports-female139:before {
	content: "\e00e";
}
.sports-first33:before {
	content: "\e00f";
}
.sports-fisher1:before {
	content: "\e010";
}
.sports-football102:before {
	content: "\e011";
}
.sports-football118:before {
	content: "\e012";
}
.sports-football28:before {
	content: "\e013";
}
.sports-girl2:before {
	content: "\e014";
}
.sports-golf17:before {
	content: "\e015";
}
.sports-golf22:before {
	content: "\e016";
}
.sports-golf9:before {
	content: "\e017";
}
.sports-group9:before {
	content: "\e018";
}
.sports-hockey2:before {
	content: "\e019";
}
.sports-hunter:before {
	content: "\e01a";
}
.sports-ice79:before {
	content: "\e01b";
}
.sports-karate:before {
	content: "\e01c";
}
.sports-kitesurfing:before {
	content: "\e01d";
}
.sports-man27:before {
	content: "\e01e";
}
.sports-man36:before {
	content: "\e01f";
}
.sports-man362:before {
	content: "\e020";
}
.sports-man429:before {
	content: "\e021";
}
.sports-man459:before {
	content: "\e022";
}
.sports-martial2:before {
	content: "\e023";
}
.sports-mountain24:before {
	content: "\e024";
}
.sports-padding:before {
	content: "\e025";
}
.sports-person17:before {
	content: "\e026";
}
.sports-person209:before {
	content: "\e027";
}
.sports-person228:before {
	content: "\e028";
}
.sports-person242:before {
	content: "\e029";
}
.sports-person244:before {
	content: "\e02a";
}
.sports-ping3:before {
	content: "\e02b";
}
.sports-recognition6:before {
	content: "\e02c";
}
.sports-regular2:before {
	content: "\e02d";
}
.sports-riding:before {
	content: "\e02e";
}
.sports-rugby98:before {
	content: "\e02f";
}
.sports-runer:before {
	content: "\e030";
}
.sports-runner5:before {
	content: "\e031";
}
.sports-running:before {
	content: "\e032";
}
.sports-running30:before {
	content: "\e033";
}
.sports-running31:before {
	content: "\e034";
}
.sports-silhouette1:before {
	content: "\e035";
}
.sports-silhouette4:before {
	content: "\e036";
}
.sports-skateboard3:before {
	content: "\e037";
}
.sports-skating:before {
	content: "\e038";
}
.sports-soccer19:before {
	content: "\e039";
}
.sports-soccer38:before {
	content: "\e03a";
}
.sports-soccer43:before {
	content: "\e03b";
}
.sports-soccer44:before {
	content: "\e03c";
}
.sports-sportive2:before {
	content: "\e03d";
}
.sports-sports5:before {
	content: "\e03e";
}
.sports-surfer:before {
	content: "\e03f";
}
.sports-swim1:before {
	content: "\e040";
}
.sports-swimmer9:before {
	content: "\e041";
}
.sports-swimming20:before {
	content: "\e042";
}
.sports-swimming22:before {
	content: "\e043";
}
.sports-tai1:before {
	content: "\e044";
}
.sports-tennis18:before {
	content: "\e045";
}
.sports-time13:before {
	content: "\e046";
}
.sports-trekking:before {
	content: "\e047";
}
.sports-trekking1:before {
	content: "\e048";
}
.sports-triathlon1:before {
	content: "\e049";
}
.sports-trophy42:before {
	content: "\e04a";
}
.sports-trophy45:before {
	content: "\e04b";
}
.sports-volleyball3:before {
	content: "\e04c";
}
.sports-volleyball4:before {
	content: "\e04d";
}
.sports-walking17:before {
	content: "\e04e";
}
.sports-weightlift:before {
	content: "\e04f";
}
.sports-windsurf1:before {
	content: "\e050";
}
.sports-yoga12:before {
	content: "\e051";
}
.sports-yoga13:before {
	content: "\e052";
}
.sports-young:before {
	content: "\e053";
}
