/* line 1, ../sass/createEvent.scss */
.nounderline {
  text-decoration: none !important;
}

/* line 5, ../sass/createEvent.scss */
.toCenter {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

/* line 10, ../sass/createEvent.scss */
.main-content {
  position: fixed;
  height: 100%;
  width: 100%;
}

/* line 19, ../sass/createEvent.scss */
.leftArrow-div {
  height: 100%;
}

/* line 24, ../sass/createEvent.scss */
.rightArrow-div {
  height: 100%;
  text-align: right;
}

/* line 30, ../sass/createEvent.scss */
.centraVertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* line 39, ../sass/createEvent.scss */
.no-margin {
  margin: 0;
}

/* line 44, ../sass/createEvent.scss */
.dataDiv {
  height: 50%;
  width: 100%;
}

/* line 50, ../sass/createEvent.scss */
.horaDiv {
  height: 50%;
  width: 100%;
}

/* COde from: */
/* line 59, ../sass/createEvent.scss */
#body-criar-evento {
  background: url("../img/baseball_ball.jpg") no-repeat;
}

/* line 64, ../sass/createEvent.scss */
#map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/* line 69, ../sass/createEvent.scss */
.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

/* line 80, ../sass/createEvent.scss */
#pac-input {
  background-color: #fff;
  padding: 0 11px 0 13px;
  width: 400px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}

/* line 90, ../sass/createEvent.scss */
#pac-input:focus {
  border-color: #4d90fe;
  margin-left: -1px;
  padding-left: 14px;
  /* Regular padding-left + 1. */
  width: 401px;
}

/* line 97, ../sass/createEvent.scss */
.pac-container {
  font-family: Roboto;
}

/* line 101, ../sass/createEvent.scss */
#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

/* line 107, ../sass/createEvent.scss */
#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

/* line 113, ../sass/createEvent.scss */
.NEONbluetxt {
  color: #000;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #00DEFF, 0 0 70px #00DEFF, 0 0 80px #00DEFF, 0 0 100px #00DEFF, 0 0 150px #00DEFF;
}

/* line 118, ../sass/createEvent.scss */
.FLOATtxt {
  color: #f8f8ff;
  text-shadow: 0 3px 0 #b2a98f, 0 14px 10px rgba(0, 0, 0, 0.15), 0 24px 2px rgba(0, 0, 0, 0.1), 0 34px 30px rgba(0, 0, 0, 0.1);
}

/* line 123, ../sass/createEvent.scss */
.INSETtxt {
  color: #3c3c3c;
  text-shadow: 0 -2px 3px #111,0 3px 4px #666;
}
