<head>

	<title>Blumio, your Sports Mate Finder</title>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag params[:controller] %>
    <%= stylesheet_link_tag params[:controller] %>
    <link href="../stylesheets/sports.css" rel="stylesheet">
    <link href="../stylesheets/font-awesome.css" rel="stylesheet">
	<meta charset="UTF-8">
	<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- protect against CRSF attacks (related with protect_from_forgery with: :exception in application controller-->
    <%= csrf_meta_tags %>

</head>


