<!-- has to be corrected in all files -->
<nav class="navbar navbar-bordeaux navbar-fixed-top vertical-center" role="navigation">
	<div class="container vertical-center margin-left-2" href="#">
		<a href="#menu-toggle" id="menu-toggle" class="without-underline">
			<span class="fa fa-bars"> </span>
			<div class="text div-nav"> <img src="../img/logo2.png" class="logo"></div>
		</a>
	</div>
        <div class="dropdown nav navbar-nav navbar-left">
            <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#">
                <i class="fa fa-bell"></i>
            </a>
            <ul class="dropdown-menu notifications pull-right" role="menu" aria-labelledby="dLabel">
                <div class="notifications-wrapper">
                    <% for activity in current_person.activities.first(4) %>
                        <li><%= render_activity(activity) %></li>
                    <% end %>
                </div>
                <li class="divider"></li>
                <div class="notification-footer"><a href="<%= notifications_index_path %>"><h4 class="menu-title">Ver todas<i class="glyphicon glyphicon-circle-arrow-right"></i></h4></a></div>
            </ul>

        </div>
</nav>