<% @event.persons.each do |person| %>
    <div class="col-xs-2 col-sm-1">
      <%= link_to person, class: "thumbnail" do %>
          <center><span><%= person.first_name %></span></center>
          <div class="image">
            <img src="<%= person.image %>" class="img img-responsive full-width img-circle" />
          </div>
      <% end %>
    </div>
<% end %>