<div class="col-xs-3 col-md-1 searchIcons">


  <%= form_tag("/search", method: "post") do %>
      <div id="data" class="text-left searchBar-wrapper">
        <ul class="sidebar-nav text-left">
          <li style="margin-top: 5%">
            <a onclick="hideData();"> <span class="fa fa-chevron-right icone-barra-lateral"></span></a>
          </li>
        </ul>
        <br>
        <br>

        <div class="radio">
          <label><input value="data" onchange="showDataSelection()" type="radio" name="dataFilter">Escolher datas</label>
        </div>
        <div id="dataSelection" style="display: none ; with: 100%">
          A partir de:<br>
          <input name="timeLowerLimit" class="form-control" type="date" />
          <br>
          Até:<br>
          <input name="timeUpperLimit" class="form-control" type="date" />
          <br>
        </div>

        <div class="radio">
          <label><input value="hoje" onchange="hideDataSelection()" type="radio" name="dataFilter">Hoje</label>
        </div>
        <div class="radio">
          <label><input value="amanha" onchange="hideDataSelection()" type="radio" name="dataFilter">Amanhã</label>
        </div>
        <div class="radio">
          <label><input value="proxSemana" onchange="hideDataSelection()" type="radio" name="dataFilter">Proximos 7 dias</label>
        </div>


      </div>

      <div id="desporto" class="searchBar-wrapper">
        <ul class="sidebar-nav text-left">
          <li style="margin-top: 5%">
            <a onclick="hideDesporto();"> <span class="fa fa-chevron-right icone-barra-lateral"></span></a>
          </li>
        </ul>

        <br>
        <br>
        <% @sports.each do |sport| %>
            <label style="font-size: 30px"><input type="radio" name="desportoId" value="<%= sport.id %>"><a class="nounderline  <%= sport.icon %>"></a> </label>
            <br>
            <br>
        <% end %>

      </div>

      <div id="adesao" class="searchBar-wrapper">
        <ul class="sidebar-nav text-left">
          <li style="margin-top: 5%">
            <a onclick="hideAdesao();"> <span class="fa fa-chevron-right icone-barra-lateral"></span></a>
          </li>
        </ul>

        <br>
        <br>
        Minimo:<br>
        <input name="numMinParticipantes" class="form-control" type="number" min="0" />
        <br>
        Maximo:<br>
        <input name="numMaxParticipantes" class="form-control" type="number" min="0"/>
      </div>

      <div id="pertoDeMim" class="searchBar-wrapper">
        <ul class="sidebar-nav text-left">
          <li style="margin-top: 5%">
            <a onclick="hidePertoDeMim();"> <span class="fa fa-chevron-right icone-barra-lateral"></span></a>
          </li>
        </ul>

        <br>
        <br>
        <div class="radio">
          <label><input value="nao" onchange="hideLocationSelection()" type="radio" name="localizacao">Nao usar</label>
        </div>
        <div class="radio">
          <label><input value="sim" onchange="showLocationSelection();getLocationPesquisa();" type="radio" name="localizacao">Usar</label>
        </div>
        <div id="locationSelection" style="display: none ; with: 100%">
          Num raio de (km):<br>
          <input name="raioLocal" class="form-control" type="number" min="1"/>
          <br>
          <p id="demo"></p>
          <input id="lat" type="hidden" name="lat" value="">
          <input id="lon" type="hidden" name="lon" value="">
          <div id="holder" style="width: 230px; margin-left: auto; margin-right: auto">
            <div id="mapholder" ></div>
          </div>

        </div>
      </div>




  <div class="row align-horizontal-center" onclick="showDataForm();">
    <i class="fa fa-calendar"></i> <span>Data</span>
  </div>
  <div class="row align-horizontal-center" onclick="showDesportoForm();">
    <i class="sports-basketball3"></i> <span>Desporto</span>
  </div>
  <div class="row align-horizontal-center" onclick="showAdesaoForm();">
    <i class="fa fa-bar-chart-o"></i> <span>Adesão</span>
  </div>
  <div class="row align-horizontal-center" onclick="showPertoDeMimForm();">
    <i class="fa fa-map-marker"></i> <span>Perto de Mim</span>
  </div>



      <div class="row align-horizontal-center">
        <button style="width: 80%;" class="botaoPesquisa" type="submit"><span class="fa fa-search fa-2x"></span></button>
      </div>

  <% end %>

  <div class="row align-horizontal-center">
    <%= form_tag(search_path) do %>
        <button style="width: 80%;" class="botaoPesquisa" type="submit">Ver Todos</button>
    <% end %>
  </div>

  <div class="row align-horizontal-center">
    <%= form_tag(searchList_path) do %>

        <button style="width: 80%;" class="botaoPesquisa" type="submit"><span class="fa fa-list-alt fa-2x"></span></button>
    <% end %>
  </div>
</div>

