<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
      <div class="row">
          <li class="sidebar-brand">
              <img src="<%= current_person.image %>" class="img-responsive img-circle pull-left userImage">
              <%= link_to current_person.full_name, current_person , style: 'min-height: 65px; padding-top: 9px' %>
          </li>
      </div>
    <li>
      <a data-no-turbolink="true" href=<%= root_path %>> <span class="fa fa-home icone-barra-lateral"></span>Início</a>
    </li>

    <li>
      <a data-no-turbolink="true" href="#"> <span class="fa fa-book icone-barra-lateral"></span>Eventos</a>
    </li>
    <li>
      <a id="idMeusEventos" data-no-turbolink="true" href="#"> &nbsp&nbsp&nbsp <span class="fa fa-user icone-barra-lateral"></span>Meus</a>
      <%= form_tag("/searchList", method: "post",id: "formMeusEventos") do %>
          <input type="hidden" name="criador" value="true">
      <% end %>
    </li>
    <li>
      <a data-no-turbolink="true" href=<%= search_path %>>&nbsp&nbsp&nbsp <span class="fa fa-search icone-barra-lateral"></span>Procurar</a>
    </li>
    <li>
      <a data-no-turbolink="true" href=<%= new_event_path %>>&nbsp&nbsp&nbsp <span class="fa fa-plus-circle icone-barra-lateral"></span>Criar</a>
    </li>
    <li>
      <a data-no-turbolink="true" href="<%= logout_path %>" data-method="delete" rel="nofollow"> <span class="fa fa-sign-out icone-barra-lateral"></span>Sair</a>
    </li>
  </ul>


</div>
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

    document.getElementById("idMeusEventos").onclick = function() {
        document.getElementById("formMeusEventos").submit();
    }
</script>
<!-- /#sidebar-wrapper -->