<div class="notification-item">

    <div class="centraVertical2">
        <img src="<%= Person.find(activity.owner).image %>" class="img img-responsive img-circle img-notification"/>
    </div>

    <span>
    <h4 class="item-title text-muted"><%= time_ago_in_words activity.created_at %></h4>
    <p class="item-info">
        O teu evento <strong> <%= activity.parameters[:event_name] %></strong> foi cancelado.
    </p>
    </span>
</div>


