<div class="notification-item">

    <div class="centraVertical2">
        <img src="<%= Person.find(activity.owner).image %>" class="img img-responsive img-circle img-notification"/>
    </div>

    <span>
    <h4 class="item-title text-muted"><%= time_ago_in_words activity.created_at %></h4>
    <p class="item-info">
        O evento
        <strong>
            <%= activity.parameters[:event_name] %>
        </strong>
        em que ias participar às <%= activity.parameters[:event_date].strftime("%H:%M") %> de <%= activity.parameters[:event_date].to_date %> foi cancelado.
    </p>
    </span>
</div>


