<%= @person.full_name %> has requested a password reset.

  To reset your password, click the URL below
  <%= @password_reset_url %>

If you did not request your password to be reset, just ignore this email and your password will continue to stay the same.