<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<p>
  <%= @person.full_name %> has requested a password reset.
</p>
<p>
  To reset your password, click the URL below.
</p>
<p>
  <%= @password_reset_url %>
</p>
<p>
  If you did not request your password to be reset, just ignore this email and your password will continue to stay the same.
</p>
</body>
</html>