Welcome to Blumio, <%= @person.full_name %>
===============================================

You have successfully signed up.

To login to the site, just follow this link: <%= @url %>.

Thanks for joining and have a great day!