<!DOCTYPE html>
<html>
<%= render "layouts/head" %>
<body>
<%= render "layouts/navbar" %>
<div id="wrapper">
    <!-- Sidebar -->
    <%= render "layouts/sidebar" %>

    <div id="page-content-wrapper no-padding">
        <div class="container-fluid no-padding-left ">
            <div class="row">
                <div class="col-xs-12 col-md-12" style="overflow-y: scroll;overflow-x: hidden;" >
                    <br>
                    <%= render_activities(current_person.activities) %>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
