<!DOCTYPE html>
<html>

<head>
  <link href="../stylesheets/homepage.css" rel="stylesheet">
  <link href="../stylesheets/font-awesome.css" rel="stylesheet">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta charset="UTF-8">
  <!-- protect against CRSF attacks (related with protect_from_forgery with: :exception in application controller-->
  <%= csrf_meta_tags %>
  <title>Blumio, your Sports Mate Finder</title>


  <!-- Bootstrap Core JavaScript -->
  <script src="../javascripts/bootstrap.js"></script>
  <script src="../javascripts/bootstrap-sprockets.js"></script>
  <script src="../javascripts/bootstrap.file-input.js"></script>
  <script type="text/JavaScript" src="../js/homepage.js"></script>
</head>


<body id="body-homepage">
<div class="container-fluid">
  <div id="toCenter">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
        <img src="../img/logo.png" class="img-responsive">
      </div>
    </div>

    <div class="row" id="buttons">
      <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
        <% flash.each do |key, value| %>
            <div class="alert-dismissible alert alert-<%= key %>"><%= value %>
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
              </button>
            </div>
        <% end %>

        <!-- Hidden by default -->
        <div id="login" class="collapse">
          <button class="btn btn-yellow">Log In</button>
        </div>

        <div class="panel panel-default" id="painel_login">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>Log in</strong></h3>
          </div>
          <div class="panel-body">
            <%= form_for(:session, url: login_path) do |f| %>

                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-at"></i></span>
                  <%= f.text_field :email, class: 'form-control', placeholder: 'E-mail' %>

                </div>

                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-key"></i></span>
                  <%= f.password_field :password_digest, class: 'form-control', placeholder: 'Password' %>
                </div>
                <div class="row">
                  <div class="col-md-3 col-md-offset-9 col-xs-3 col-xs-offset-9">

                    <div class="input-group pull-right">
                      <%= f.submit "Login", class: "btn btn-yellow" %>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>
        </div>




        <div id="forgot_password">
          <button class="btn btn-yellow">Forgot your password?</button>
        </div>

        <!-- Hidden by default -->
        <div class="panel panel-default collapse" id="painel_forgot_password">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>Forgot your password?</strong></h3>
          </div>
          <div class="panel-body">
            <%= form_for :person, url: forgot_password_path, method: 'put' do |f| %>

                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-at"></i></span>
                  <%= f.text_field :email, class: 'form-control', placeholder: 'E-mail' %>
                </div>

                <div class="row">
                  <div class="col-md-3 col-md-offset-9 col-xs-3 col-xs-offset-9">

                    <div class="input-group pull-right">
                      <%= f.submit "I forgot my password", class: "btn btn-yellow" %>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>
        </div>


        <div  id="signup">
          <button class="btn btn-yellow">Sign Up</button>
        </div>

        <!-- Hidden by default -->
        <div class="panel panel-default collapse" id="painel_signup">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>Sign up</strong></h3>
          </div>
          <div class="panel-body">
            <%= form_for :person, url: persons_path, html: { multipart: true } do |f| %>
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user"></i></span>
                  <%= f.text_field :first_name, class: 'form-control', placeholder: 'First Name', required: 'true' %>

                  <span class="input-group-addon"><i class="fa fa-user"></i></span>
                  <%= f.text_field :last_name, class: 'form-control', placeholder: 'Last Name', required: 'true' %>
                </div>

                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-at"></i></span>
                  <%= f.text_field :email, class: 'form-control', placeholder: 'E-mail', required: 'true', id: 'signup_email' %>
                </div>

                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-birthday-cake"></i></span>
                  <%= f.text_field :birthday, class: 'form-control', placeholder: 'Birthday', required: 'true', type: 'date' %>
                </div>

                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-key"></i></span>
                  <%= f.text_field :password, class: 'form-control', placeholder: 'Password', required: 'true', type: 'password' %>
                </div>
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-key"></i></span>
                  <%= f.text_field :password_confirmation, class: 'form-control', placeholder: 'Confirm password', required: 'true', type: 'password' %>
                </div>

                <div class="input-group col-xs-12">
                  <%= f.file_field :image, id: 'lefile', type:'file', style:'display:none' do %>

                  <%end%>
                  <div class="input-append">
                    <a id="a-file" class="btn btn-yellow" style="float: right; display: inline" onclick="$('input[id=lefile]').click();">Please insert your photo</a>
                  </div>
                </div>

                <script type="text/javascript">
                    $('input[id=lefile]').change(function() {
                        var valInputPhoto = $(this).val().replace("C:\\fakepath\\", "");
                        if (valInputPhoto == "") {
                            $('a[id=a-file]').removeClass("btn-green-custom");
                            $('a[id=a-file]').addClass('btn-yellow');
                            $('a[id=a-file]').text("Please insert your photo");
                        }
                        else {
                            $('a[id=a-file]').addClass('btn-green-custom');
                            $('a[id=a-file]').removeClass('btn-yellow');
                            $('a[id=a-file]').text('Photo selected successfully');
                            $('a[id=a-file]').append('<i style="margin-left: 6px" class="fa fa-check-circle-o"></i>');
                        }
                    });
                </script>

                <div class="row">
                  <div class="col-md-3 col-md-offset-9 col-xs-3 col-xs-offset-9">
                    <div class="input-group pull-right">
                      <%= f.submit "Sign up", class: "btn btn-yellow" %>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>