<!DOCTYPE html>
<html>

<head>
  <link href="../stylesheets/homepage.css" rel="stylesheet">
  <link href="../stylesheets/font-awesome.css" rel="stylesheet">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/JavaScript" src="../js/homepage.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta charset="UTF-8">
  <!-- protect against CRSF attacks (related with protect_from_forgery with: :exception in application controller-->
  <%= csrf_meta_tags %>
  <title>Blumio, your Sports Mate Finder</title>


  <!-- Bootstrap Core JavaScript -->
  <script src="../javascripts/bootstrap.js"></script>
  <script src="../javascripts/bootstrap-sprockets.js"></script>
</head>


<body id="body-homepage">
<div class="container-fluid">
  <div id="toCenter">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
        <img src="../img/logo.png" class="img-responsive">
      </div>
    </div>

    <div class="row" id="buttons">
      <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
        <% flash.each do |key, value| %>
            <div class="alert-dismissible alert alert-<%= key %>"><%= value %>
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
              </button>
            </div>
        <% end %>

        <div class="panel panel-default" id="painel_login">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>Change password</strong></h3>
          </div>
          <div class="panel-body">

            <p>
              You, <%= @person.full_name %>, has requested a password reset. Please enter your new password:
            </p>

            <%= form_for @person, url: password_reset_path + '?token=' + params.first[0], method: 'put' do |f| %>

                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-key"></i></span>
                  <%= f.text_field :password, class: 'form-control', placeholder: 'Password', required: 'true', type: 'password' %>

                </div>

                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-key"></i></span>
                  <%= f.text_field :password_confirmation, class: 'form-control', placeholder: 'Confirm password', required: 'true', type: 'password' %>
                </div>
                <div class="row">
                  <div class="col-md-3 col-md-offset-9 col-xs-3 col-xs-offset-9">

                    <div class="input-group pull-right">
                      <%= f.submit "Update", class: "btn btn-yellow" %>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

</body>
</html>