<% if @event.date < Time.now %>
    <a class="btn btn-green" id="btn-vou" name="commit">
      <i class="fa fa-check"></i>
      Evento finalizado
    </a>
<% elsif does_current_person_go_to_event?(params[:id]) %>
    <%= render "leave" %>
<% elsif !@event.limitOfParticipants.nil? && @event.limitOfParticipants <= @event.numParticipantes %>
    <a class="btn btn-warning" id="btn-vou" name="commit">
      <i class="fa fa-exclamation-triangle"></i>
      Evento cheio
    </a>
<% else %>
    <%= render "join" %>
<% end %>