<%= form_for(:event, html: { method: :delete }) do |f| %>
    <%= f.submit "Apagar!", class: "btn btn-danger", name: "remove_event", data: {confirm: "Vais apagar o evento " << @event.name << ". Atenção: este processo é irreversível!"} %>
<% end %>


