<!DOCTYPE html>
<html>
<%= render "layouts/head" %>

<body id="body-criar-evento">
<%= render "layouts/navbar" %>
<div id="wrapper">
    <%= render "layouts/sidebar" %>


    <div id="page-content-wrapper no-padding">
        <div class="main-content">

            <div onclick="previousPage();" class="col-xs-2 col-md-1 leftArrow-div">

                <i class="fa fa-chevron-left  centraVertical"></i>
                <!--<i class="fa fa-angle-left  leftArrow"></i>-->
            </div>

            <div class="col-xs-8 col-md-10" style="overflow-y: auto; height: 100%">

                <%= form_for :event, method: 'POST', html: { onsubmit: 'return ValidationEvent()', id: 'formEvent', style: 'height: 100%' } do |f| %>
                    <div id="pag1" class="pagAtiva" align="center">
                        <h1 class="INSETtxt">O que queres Fazer?</h1>
                        <br><br>

                        <% @sports.each do |sport| %>

                            <div class="col-xs-4 col-md-2 align-horizontal-center">
                                <div class="radio icone-div">
                                    <label>
                                        <input type="radio" name="radioDesporto" value="<%= sport.sport %>">
                                        <a class="nounderline <%= sport.icon %>">
                                        </a>
                                    </label>
                                </div>
                            </div>
                        <% end %>

                    </div>

                    <div id="pag2" style="display:none; height: 100% ">
                        <div class="row" style="height: 50%; ">
                            <div class="centraVertical">
                                <div class="row" align="center" style="width: 100%">
                                    <h1 class="INSETtxt">Escolhe uma data..</h1>
                                </div>

                                <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
                                    <div class="row" style="margin-left:auto; margin-right:auto">
                                        <%= f.text_field :data, name: 'data', class: 'form-control', type: 'date' %>
                                        <!-- <input name="data" class="form-control" type="date" /> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="height: 40%">
                            <div class="centraVertical">
                                <div class="row" align="center"  style="width: 100%">
                                    <h1 class="INSETtxt">...e uma hora</font></b> </h1>
                                </div>
                                <div class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4">
                                    <div class="row" style="margin-left:auto; margin-right:auto">
                                        <%= f.text_field :hora, name: 'hora', class: 'form-control', type: 'time' %>
                                        <!-- <input name="hora" class="form-control" type="time" /> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="pag3" style="display:none; height:100%">
                        <div align="center" class="centraVertical">
                            <div class="row">
                                <h1 class="INSETtxt">Há limite de participantes?</h1>
                            </div>
                            <br><br>
                            <div class="row" role="form" >
                                <div class="radio row">
                                    <label><input value="sim" onchange="showNumParticipantes()" type="radio" name="limiteParticipantes">Sim</label>
                                </div>
                                <div class="row" id="numParticipantes" style="display: none; width: 30%">
                                    <input name="participantes" type="number" class="form-control">
                                </div>
                                <div class="radio row">
                                    <label><input value="nao" onchange="hideNumParticipantes()" type="radio" name="limiteParticipantes">Nao</label>
                                </div>
                            </div>
                        </div>
                    </div>

                  <div id="pag4" style="display:none; height:100%">
                    <div class="row" align="center">
                      <h1 class="INSETtxt">Onde é o Local?</h1>
                    </div>
                    <div id="mapInput" class="" style="height: 80%">
                      <div class="col-xs-12 col-md-3" id="infoPanel">

                        <b>Morada mais proxima:</b>
                        <div id="address"></div>
                        <input value="" type="hidden" name="morada">
                      </div>
                      <div style="height: 85%; "  class="col-xs-12 col-md-9" id="mapCanvas"></div>

                    </div>
                  </div>

                    <div id="pag5" style="display:none; height: 100%">
                        <div class="centraVertical">
                            <div class="row" align="center">
                                <h1 class="INSETtxt">Dá um nome ao evento</h1>
                                <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4">
                                    <textarea name="nomeEvento" class="form-control" rows="1"></textarea>
                                </div>
                            </div>
                            <br><br>
                            <div class="row" align="center">
                                <h1 class="INSETtxt">Detalhes adicionais</h1>
                                <div class="col-xs-12 col-md-6 col-md-offset-3">
                                    <textarea name="descricaoEvento" class="form-control" rows="5"></textarea>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div id="pag6" style="display:none; height: 100%">
                        <div align="center" class="row">
                            <h1 class="INSETtxt">Confirma o evento!</h1>
                        </div>
                        <div class="row">
                            <div class="no-padding col-xs-3 col-xs-offset-1 col-md-1 col-md-offset-3 icone-div1">
                                <a id="desporto_icone" class="" ></a>
                            </div>
                            <div class="col-xs-7 col-md-5">
                                <div  class="row">
                                    <h3 id="desporto"></h3>
                                </div>

                                <div class="row">
                                    <span id="dataHora" class="fa fa-clock-o"> </span>
                                </div>
                                <div class="row">
                                    <span id="limite"></span>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
                                <h4 id="evento_nome">Nome não definido</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div id="evento_descricao" class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
                                Sem descriçao
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-1">
                                <span id="local_name" class="fa fa-map-marker">Paranhos, Paranhos </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-1 no-padding">
                                <div id="map_canvas1" style="height: 250px;"></div>
                            </div>
                        </div>
                    </div>
                <% end %>
                <!-- </form> -->
            </div>

            <div onclick="nextPage();" class="col-xs-2 col-md-1 rightArrow-div">
                <i class="fa fa-chevron-right centraVertical"></i>
            </div>

        </div>
    </div>
</div>

</body>
</html>