<!DOCTYPE html>
<html>


<%= render "layouts/head" %>




<body>
<%= render "layouts/navbar" %>
<div id="wrapper">
  <!-- Sidebar -->
  <%= render "layouts/sidebar" %>

  <div id="page-content-wrapper no-padding">
    <div class="container-fluid no-padding-left ">
      <div class="row">
        <div class="col-xs-9 col-md-11" style="overflow-y: scroll;overflow-x: hidden; height: calc(100vh - 50px)" >
          <table class="table table-striped">
            <tbody>

            <% @events.each do |event| %>
                <tr class="eventoRow row">
                  <!-- <td class="col-xs-2 col-md-1 align-horizontal-center" style="padding-right: 0">

                  </td>

                  <td class= "col-xs-10 col-md-11">
                    <div class="row" style="margin: 0; "><h4><b><%= link_to event.name, event %></b></h4> </div>
                    <div class="row" style="margin: 0"><span class="fa fa-map-marker"></span> <%= event.city %> </div>
                    <div class="row" style="margin: 0"><span class="fa fa-calendar"></span> <%= event.date.to_date %> </div>
                    <div class="row" style="margin: 0"><span class="fa fa-clock-o"></span> <%= event.date.strftime("%H:%M") %> </div>
                    <div class="row" style="margin: 0"><span  class="fa fa-users"></span> <%= event.numParticipantes %> </div>
                    <div class="row" style="margin: 0">Criador: <%= event.criadorName %> </div>
                  </td>-->
                  <td>

                    <div id="divTamanhoImagem" class="col-xs-12">

                      <div class="row" style="margin: 0; ">
                        <span id="divImagem">

                          <h4 style="margin: 0">
                            <b> <i class="<%=event.sports.icon%>" style="font-size: 30px; color: cornflowerblue"></i> <%= link_to event.name, event %> </b>
                          </h4>
                        </span>

                      </div>
                      <div class="row" style="margin: 0">
                        <span class="fa fa-map-marker"></span> <%= event.city %>
                      </div>

                      <div class="row" style="margin: 0">
                        <span  class="fa fa-users"></span> <%= event.numParticipantes %>
                      </div>
                    </div>

                    <div class="col-xs-12">
                      <div class="row" style="margin: 0">
                        <span>
                          <span class="fa fa-calendar"></span> <%= event.date.to_date %> &nbsp&nbsp<span class="fa fa-clock-o"></span> <%= event.date.strftime("%H:%M") %>
                        </span>
                      </div>

                      <div class="row" style="margin: 0">
                        <span>
                          <b>Criador:</b> <%= event.criadorName %>
                        </span>
                      </div>
                    </div>

                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>


        </div>
        <%= render "layouts/searchBarList" %>
      </div>



    </div>
  </div>
</div>


</body>
</html>

