<!DOCTYPE html>
<html>
<%= render "layouts/head" %>

<body>

<%= render "layouts/navbar" %>
<div id="wrapper">
  <!-- Sidebar -->
  <%= render "layouts/sidebar" %>

  <!-- Page Content -->
  <div id="page-content-wrapper no-padding">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-9 col-md-11 no-padding">
          <div id="map_canvas" class="no-padding" style="height: 100px"></div>
        </div>
        <script type="text/javascript">
            mapOptions = {
                center: { lat: 41.1679725, lng: -8.6270628},
                zoom: 8
            };



            $('#map_canvas').height( $( "body" ).height() );




            var map = new google.maps.Map(document.getElementById('map_canvas'),
                    mapOptions);
            <% for event in @events%>
            ArrayData = "<%= j event.position %>";
            title = "<%= j event.name %>";
            ArrayData = ArrayData.split(',');
            myLatlng = new google.maps.LatLng(parseFloat(ArrayData[0]),parseFloat(ArrayData[1]));
            marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title:title,
                url: "<%= j url_for(event) %>"
            });

            google.maps.event.addListener(marker, 'click', function() {
                window.location.href = this.url;
            });
            <% end -%>

            google.maps.event.addDomListener(window, "resize", function() {
                var center = map.getCenter();
                google.maps.event.trigger(map, "resize");
                map.setCenter(center);
            });



        </script>

        <%= render "layouts/searchBarMap" %>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->




</body>
</html>
