<!DOCTYPE html>
<html>

<%= render "layouts/head" %>
<body>

<%= render "layouts/navbar" %>
<div id="wrapper">
  <%= render "layouts/sidebar" %>
  <!-- Page Content -->
    <div id="bar-with-map-and-sports" class="container-fluid text-black">
      <div class="row no-padding">
        <div class="col-xs-12 no-padding eventLowSpace">
          <div id="map_canvas" class="no-padding" style="height: 200px;"></div>
           <script type="text/javascript">

            ArrayData = "<%= j @event.position %>";
            title = "<%= j @event.name %>";
            ArrayData = ArrayData.split(',');
            myLatlng = new google.maps.LatLng(parseFloat(ArrayData[0]),parseFloat(ArrayData[1]));

            mapOptions = {
                center: { lat: parseFloat(ArrayData[0]), lng: parseFloat(ArrayData[1])},
                zoom: 15
            };

            var map = new google.maps.Map(document.getElementById('map_canvas'),
                mapOptions);

            marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title:title
            });

            google.maps.event.addDomListener(window, "resize", function() {
                var center = map.getCenter();
                google.maps.event.trigger(map, "resize");
                map.setCenter(center);
            });

            mapa = $('#map_canvas');
            mapa.height( mapa.parent().height() );

          </script>
          <a id="sport-symbol" class="thumbnail">
            <div class="image">
              <i class="<%= @event.sports.icon %>"></i>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div id="page-content-wrapper" class="no-padding-top">
      <div class="container-fluid text-black">
        <div class="row">
          <div class="col-xs-8 col-md-10 no-padding">
                  <h1><%= @event.name %>
                      <% if @creator.id == current_person.id %>
                      <div class="inline">
                          <%= render "destroy" %>
                      </div>
                      <% end %>
                  </h1>
            <p>por <%= link_to @creator, style: "text-decoration: none" do %> <strong><%= @creator.full_name %></strong><% end %></p>
            <p class="text-justify">
              <strong><%= @event.sports.sport %></strong></br>
              <%= @event.description %>
            </p>
          </div>
          <div class="col-xs-4 col-md-2">
            <div class="row">
              <a id="watch" class="thumbnail">
                <div class="image">
                  <i class="fa fa-clock-o"></i>
                </div>
              </a>
              <div class="border-medium text-center" style="padding-top: 14px;">
                <p><%= @event.date.strftime("%I:%M%p") %></p>
                <p><strong><%= @event.date.strftime("%d/%m/%Y")%></strong></p>
              </div>
            </div>
            <div id="go_form" class="row">
              <%= render "button" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div>
          <h2 style="display: inline"><b>Participantes</b></h2>

            <% if !@event.limitOfParticipants.nil? %>
                <h6 style="display: inline">(max <%=@event.limitOfParticipants %>) </h6>
            <% end %>
          </div>
        </div>
        <div id="participantes" class="row">
          <%= render "layouts/participantes" %>
        </div>

        <div class="row">
          <h1>Partilhar</h1>
        </div>
        <div class="row">
            <a href="#" class="prettySocial fa fa-facebook fa-2x" data-type="facebook" data-title="<%= @event.name %> @ Blumio" data-description="Join me: <%= @event.name %> @ Blumio" data-url="<%= request.original_url%>" data-media="http://ldso05.fe.up.pt/img/logo.png"></a>
            <a href="#" class="prettySocial fa fa-twitter fa-2x" data-type="twitter" data-url="<%= request.original_url%>" data-description="Join me: <%= @event.name %> @ Blumio" data-media="http://ldso05.fe.up.pt/img/logo.png"></a>
            <a href="#" class="prettySocial fa fa-google-plus fa-2x" data-type="googleplus" data-url="<%= request.original_url%>" data-description="Join me: <%= @event.name %> @ Blumio" data-media="http://ldso05.fe.up.pt/img/logo.png"></a>
            <a href="#" class="prettySocial fa fa-pinterest fa-2x" data-type="pinterest" data-url="<%= request.original_url%>" data-description="Join me: <%= @event.name %> @ Blumio" data-media="http://ldso05.fe.up.pt/img/logo.png"></a>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->
  </div>
<script src="../js/jquery.prettySocial.js"></script>
<script type="text/javascript">
    $(function() {
        $('.prettySocial').prettySocial();
    });
</script>
</body>
</html>
