<!DOCTYPE html>
<html>

<head>
    <link href="../stylesheets/homepage.css" rel="stylesheet">
    <link href="../stylesheets/font-awesome.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="UTF-8">
    <!-- protect against CRSF attacks (related with protect_from_forgery with: :exception in application controller-->
    <%= csrf_meta_tags %>
    <title>Blumio, your Sports Mate Finder</title>


    <!-- Bootstrap Core JavaScript -->
    <script src="../javascripts/bootstrap.js"></script>
    <script src="../javascripts/bootstrap-sprockets.js"></script>
    <script src="../javascripts/bootstrap.file-input.js"></script>
    <script type="text/JavaScript" src="../js/homepage.js"></script>
</head>


<body id="body-homepage">
<div class="container-fluid">
    <div id="toCenter">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
                <img src="../img/logo.png" class="img-responsive">
            </div>
        </div>

        <div class="row" id="buttons">
            <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">

                <div class="panel panel-danger">
                    <div class="panel-heading text-center">
                        <h3 class="panel-title"><strong><i class="fa fa-ban fa-2x"></i> 404 Not Found</strong></h3>
                    </div>
                    <div class="panel-body text-center">
                        A página que tentou aceder não existe.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>