<!DOCTYPE html>
<html>
<head>

  <%= render "layouts/head" %>

</head>
<body id="body-homepage">

	<%= render "layouts/navbar" %>
    <div id="wrapper">
		<%= render "layouts/sidebar" %>
		<!-- Page Content -->
		<div id="page-content-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="align-horizontal-center text">
						<h2>Ola, <%= current_person.first_name %></h2>
						<h2>O que queres fazer hoje?</h2>
					</div>
				</div>
				<div class="row">

					<div class="col-xs-4 col-md-2 col-md-offset-2">
						<a data-no-turbolink="true" class="thumbnail without-underline" href=<%= search_path%> >

							<div class="bola-nova">
								<p class="text-center text-bola"> Ver Eventos
								</p>
							</div>

						</a>
					</div>
					<div class="col-xs-4 col-md-4">
					</div>
					<div class="col-xs-4 col-md-2 ">
						<a data-no-turbolink="true" class="thumbnail without-underline" href=<%= new_event_path %> >

							<div class="bola-nova">
								<p class="text-center text-bola"> Criar Evento
								</p>
							</div>

						</a>
					</div>
					<div class="col-md-2"></div>

				</div>
				<div class="row">
					<div class="col-xs-4  col-md-1">
					</div>
					<div class="col-xs-4  col-md-2 col-md-offset-4">

                      <%= link_to current_person, class: "thumbnail without-underline" do %>
                          <div class="bola-nova">
                            <p class="text-center text-bola"> Ver Perfil
                            </p>
                          </div>
                      <% end %>
					</div>
					<div class="col-xs-4  col-md-4">
					</div>
				</div>
			</div>
		</div>
		<!-- /#page-content-wrapper -->

	</div>
	<!-- /#wrapper -->


</body>
</html>
