/* line 5, /home/joao/Repositorios/Blumio/app/assets/stylesheets/events.css.scss */
#btn-vou {
  margin-top: 5px;
  width: 100%;
}

/* line 10, /home/joao/Repositorios/Blumio/app/assets/stylesheets/events.css.scss */
#sport-symbol {
  margin: 0 auto;
  width: 60px;
  position: relative;
  top: -30px;
  border: 1px solid #000000;
}

/* line 18, /home/joao/Repositorios/Blumio/app/assets/stylesheets/events.css.scss */
h1 .inline {
  display: inline-block;
}

/* line 22, /home/joao/Repositorios/Blumio/app/assets/stylesheets/events.css.scss */
.prettySocial:hover {
  text-decoration: none;
}

/* line 26, /home/joao/Repositorios/Blumio/app/assets/stylesheets/events.css.scss */
#sport-symbol .image i {
  position: absolute;
  font-size: 32px;
  margin-left: 13px;
  margin-top: 7px;
}

/* line 33, /home/joao/Repositorios/Blumio/app/assets/stylesheets/events.css.scss */
#watch .image i {
  position: absolute;
  font-size: 29px;
}

/* line 38, /home/joao/Repositorios/Blumio/app/assets/stylesheets/events.css.scss */
#watch {
  margin: 0 auto;
  width: 26px;
  position: relative;
  top: 13px;
}
