/* line 7, /home/joao/Repositorios/Blumio/app/assets/stylesheets/static_pages.css.scss */
div.bola-nova {
  color: #FFFFFF;
  background-color: #CC0000;
  border-radius: 50vw;
  padding-top: 50%;
  padding-bottom: 50%;
  height: 0px;
}

/* line 15, /home/joao/Repositorios/Blumio/app/assets/stylesheets/static_pages.css.scss */
.text-bola {
  margin: 0px;
  position: relative;
  top: -10px;
}
